:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #ffffff;
  --ptimary-blue-color: #2196f3;
}
body {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-seri;
}

.section-title {
  color: var(--title-text-color);
}
.section-text {
  color: var(--primary-text-color);
}
.button .link {
  color: var(--title-text-color);
}
.button .link:hover,
.button .link:focus {
  background-color: var(--ptimary-blue-color);
  color: var(--accent-color);
}
